*{
    background: darkslategray;
}

.container{

    overflow: hidden;
}

.content{
    display: flex;
    transition: transform 0.3 ease;
}

.item{
    flex-shrink: 0;
    width: 80%;
    margin: 2% 10%;
    padding: 10rem 0;
    background: rgba(77, 88, 88, 0.534);
    border-radius: 8px;
    text-align: center;
}

.item img{
    width: 98%;
    height: 25rem;
}


.nav{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 80%;
}
